@charset "UTF-8";
.g-hidden {
  display: none;
}
.carousel-indicators li {
  border-radius: 50%;
  margin: 0 100px;
  opacity: 0.4;
}
.carousel-indicators li:hover {
  opacity: 0.7;
}
.carousel-indicators li.active {
  margin: 0 100px;
}
.carousel-style {
  height: 900px;
}
.carousel-style .carousel-caption {
  bottom: 50%;
  margin-bottom: -270px;
}
.carousel-style .carousel-caption p {
  min-height: 140px;
}
.carousel-style .carousel-inner {
  height: 100%;
}
.carousel-style .item {
  height: 100%;
}
.carousel-style .carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: saturate(1.2);
}
.carousel-style .carousel-image .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(8, 0, 26, 0.37);
}
.carousel-style .mgudt {
  background-image: url('src/carousel/mgudt.jpg');
}
.carousel-style .Moscow {
  background-image: url('src/carousel/stalin1.jpg');
}
.carousel-style .Moscow .overlay {
  background-color: rgba(8, 0, 26, 0.4);
}
.carousel-style .hi {
  background-image: url('src/carousel/javascript.jpg');
}
.carousel-style .hi .overlay {
  background-color: rgba(8, 0, 26, 0.4);
}
.carousel-style .kl {
  background-image: url('src/carousel/kl3.jpg');
}
.carousel-style .kl .overlay {
  background-color: rgba(8, 0, 26, 0.4);
}
@media (max-width: 770px) {
  .carousel-style .carousel-caption {
    bottom: 90px;
  }
}
@media (max-width: 481px) {
  .carousel-style {
    height: 400px;
  }
  .carousel-style .carousel-caption {
    bottom: 50px;
  }
  .carousel-style h1 {
    font-size: 35px;
  }
}
@media (max-width: 321px) {
  .carousel-style {
    height: 400px;
  }
  .carousel-style h1 {
    font-size: 27px;
  }
}
.top-menu {
  width: 100%;
  height: 100px;
  color: #fff;
  padding: 0 40px;
  position: absolute;
  z-index: 5;
}
.top-menu__logo {
  height: 50px;
  padding: 40px 40px;
  font-size: 18px;
  line-height: 20px;
  float: left;
}
.top-menu__list {
  float: right;
  padding: 0;
  margin: 0;
}
.top-menu__item {
  display: inline-block;
  padding: 40px 30px;
  height: 100px;
  box-sizing: border-box;
  vertical-align: top;
}
.top-menu__toggle {
  font-size: 30px;
  padding: 32px 30px;
}
.top-menu .glyphicon-menu-hamburger {
  display: block;
}
.top-menu .glyphicon-remove {
  display: none;
}
.top-menu_list-showed .glyphicon-menu-hamburger {
  display: none;
}
.top-menu_list-showed .glyphicon-remove {
  display: block;
}
.top-menu a {
  color: #dfdfdf;
}
.top-menu a:hover {
  color: #fff;
}
