.bowerrc
.npmrc
.idea
templates.html
index.html
/bower_components
/node_modules
/bower_components/*
/node_modules/*
/compiled/*
/app/**/compiled/*
/app/**/model/*.js
/app/**/collection/*.js
/app/view/*.js
/app/helper/*.js
/app/*.js
style.css
production/app.js
production/index.html
production/app
!production/app/fonts