.feature {

  &__img {
    width: 180px;
    height: 180px;
  }

  &__header {
    margin: 0;
    padding: 37px 0 20px 0;
    font-weight: 300;
  }

  p {
    margin: 0;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
}