<div class="footer">
    <div class="container">
        <footer>
            <p class="pull-right"><a class="js-go-to-top" href="#">{c:lc | loc 'to_top'}</a></p>
            <p>© 2022 Dmitry Erzunov ·
                <a href="https://ru.linkedin.com/in/derzunov" target="_blank">LinkedIn</a> ·
                <a href="https://www.facebook.com/derzunov" target="_blank">Facebook</a>
            </p>
            <a href="#" class="js-go-to-top">{c:lc | loc 'menu_main'}</a> ·
            <a href="#" class="js-go-to-skills">{c:lc | loc 'menu_skills'}</a> ·
            <a href="#" class="js-go-to-history">{c:lc | loc 'menu_xp'}</a> ·
            <a href="#" class="js-go-to-contacts">{c:lc | loc 'menu_contacts'}</a>
        </footer>
    </div>
</div>