<div class="footer">
    <div class="container">
        <footer>
            <p class="pull-right"><a class="js-go-to-top" href="#">Наверх</a></p>
            <p>© 2015 Dmitry Erzunov. ·
                <a href="http://ru.linkedin.com/pub/дмитрий-ерзунов/59/6b4/a26/ru" target="_blank">LinkedIn</a> ·
                <a href="http://vk.com/tonky" target="_blank">VK</a>
            </p> ·
            <a href="#" class="js-go-to-top">Главная</a> ·
            <a href="#" class="js-go-to-skills">Навыки</a> ·
            <a href="#" class="js-go-to-history">Опыт</a> ·
            <a href="#" class="js-go-to-contacts">Контакты</a>
        </footer>
    </div>
</div>